<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Skeddit", events_path, class: "navbar-brand" %>
    </div>
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-btn">
            <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-default") %>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: "btn btn-default")  %>
            <% end %>
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>
