<div class="container">
	<h1>
		<%= @event.name %>
	</h1>

	<p>
		Owner:
		<%= @event.owner.email %>
	</p>
	<br>
	<h3>Availabilities</h3>
	<table class="table table-striped">
		<thead>
			<th>Times</th>
			<th>Participants</th>
		</thead>
		<tbody>
				<% Event::POSSIBLE_TIMES_CONST.each do |time| %>
					<% if(@event.times_allowed.include?(time)) %>
						<tr>
							<td><%= @hour_format == '24' ? time.hour_24 : time.hour_12 %></td>
							<td></td>
						</tr>
					<% end %>
				<% end %>
		</tbody>
	</table>
</div>
