<h1> <%= @event.name %> </h1>

<p>
  Owner: <%= @event.owner.email %>
</p>
<table class="table table-striped">
	<thead class="dateheads">
		<th>Participant</th>
		<% @event.times_allowed.each do |time| %>
		<th><%= time.strftime('%I:%M %p') %></th>
		<% end %>
	</thead>
</table>
