<div class="container">
	<h1>
		<%= @event.name %>
	</h1>

	<p>
		Owner:
		<%= @event.owner.email %>
	</p>
	<p>Times allowed</p>
	<table>
		<tbody>
			<% Event::POSSIBLE_TIMES_CONST.each do |time| %>
				<% if(@event.times_allowed.include?(time)) %>
					<tb style="background:green">
						<%= @hour_format == '24' ? time.hour_24 : time.hour_12 %>
					</tb>
				<%else%>
					<tb style="background:red">
						<%= @hour_format == '24' ? time.hour_24 : time.hour_12 %>
					</tb>
				<%end%>
			<% end %>
		</tbody>
	</table>
</div>
